body {
	background-color: limegreen;
	color: whitesmoke;
}

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav {
	background-color: greenyellow;
	height: 80%;
	width: 100%;
}

label.logo{
	color: whitesmoke;
	font-size: 30px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

Nav ul {
	float: right;
	margin-right: 25px;
}
nav ul li {
	display: inline-block;
	line-height: 85px;
	margin: 0 5px;
}

nav ul li a{
	color: whitesmoke;
	font-size: 16px;
	padding: 12px 18px;
	border-radius: 3px;
	text-transform: uppercase;
}
	a.active, a:hover{
		background: lightgreen;
		transition: 3s;
	}

	.checkbtn{
		font-size: 30px;
		color: whitesmoke;
		float: right;
		line-height: 80px;
		margin-right: 40px;
		cursor: pointer;
		display: none;
	}

	#marquee {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.footer {
		background-color: greenyellow;
	}
	.footerContainer {
		width: 100%;
		padding: 70px 30px 20px;
	}
	.socialIcons {
		display: flex;
		justify-content: center;
	}
	.socialIcons a{
		text-decoration: none;
		padding: 10px;
		background-color: whitesmoke;
		margin: 10px;
		border-radius: 55%;
	}
	.socialIcons a i{
		font-size: 3em;
		color: darkgrey;
		opacity: 0,9;
	}
	/* Hover affect on social media icon */
	.socialIcons a:hover{
		background-color: greenyellow;
		transition: 0.5s;
	}
	.footerNav{
		margin: 30px 0;
		background-color: greenyellow;
	}